// Custom styles.
$body-background-color = #182430
body {
  background: $body-background-color;
  font-size: 16px;
}

.post {
  color: white
  // margin-top: 60px
  // margin-bottom: 60px
  padding: 25px
  -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5)
  -moz-box-shadow: 1 0 5px rgba(202, 203, 204, .5)

}

.btn {
  background: #1c354b
}

.btn:hover {
  background: #1da1f2
}

.brand {
  background:$body-background-color
}

.brand:hover {
  background: #1c354b
}

.posts-expand .post-title-link {
  color: white
}

.posts-expand .post-title-link:hover {
  text-decoration: underline
  text-decoration-color: #1da1f2
}

a:link, a:visited {
  color: white
}

.menu .menu-item:hover {
  a {
    color: white
    text-decoration: underline
    text-decoration-color: #1da1f2
  }
}
