// Custom styles.
$body-background-color = #182430

body {
  color: white
  background: $body-background-color
  font-size: 16px;
}

.post {
  color: white
  padding: 25px
  -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5)
  -moz-box-shadow: 1 0 5px rgba(202, 203, 204, .5)

}

.btn {
  background: #1c354b
}

.btn:hover {
  background: #1da1f2
}

.brand {
  background: #1c354b
}

.brand:hover {
  background: #1da1f2
}

.posts-expand .post-title-link {
  color: white
}

.posts-expand .post-title-link:hover {
  text-decoration: underline
  text-decoration-color: #1da1f2
}

.post-nav-item a:hover {
    color: #1da1f2;
    border-bottom: none;
}

a:link, a:visited {
  color: white
}

.menu .menu-item:hover {
  a {
    color: white
    text-decoration: underline
    text-decoration-color: #1da1f2
  }
}

.posts-collapse::after {
    background: grey
}

.posts-collapse .post-title a, .posts-collapse .post-title span.exturl {
    color: white;
}

.site-nav {
  background: $body-background-color
}

::selection {
  background: #0462d5
}

.gt-meta {
  color: white
}

.tag-cloud a:hover {
  color: cyan !important;
}

/*
 * post copyright
 */

.post-copyright {
  border-left: 3px solid #793c36
  background-color: #182430
}


/*
 * hexo-generator-search
 */

.local-search-popup {
  background: #1b3448
}

.local-search-popup .local-search-header {
  padding: 5px
  height: 36px
  background: #15202b
  color: white
  border-top-left-radius: 5px
  border-top-right-radius: 5px
}

/*
 * Reference Syntax
 */

blockquote {
  background: #253341
  color: #dc7313
  border-left: 4px solid #1e8866
}

/*
 *
 */
 code {
   color: #cb6c17;
   background: #464646;
 }
