// Custom styles for next theme
$body-background-color = #182430

body {
  color: white;
  background: $body-background-color;
  font-size: 14px;
}

.content .posts-expand .post-block {
  color: white;
  padding: 25px;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(202, 203, 203, .5);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0px 0px 4px 0px rgba(202, 203, 203, .5);  /* Firefox 3.5 - 3.6 */
  box-shadow:         0px 0px 4px 0px rgba(202, 203, 203, .5);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
}

/*
 * read more button
 */
.btn {
  background: #1c354b;
}

.btn:hover {
  background: #1da1f2;
}

/*
 * large brand of blog
 */
.brand {
  background: #1c354b;
}

.brand:hover {
  background: #1da1f2;
}

/*
 * post title in home page
 */
.posts-expand .post-title-link {
  color: white;
}

.posts-expand .post-title-link:hover {
  text-decoration: underline;
  text-decoration-color: #1da1f2;
}

/*
 * link of next and previous post
 */
.post-nav-item a:hover {
    color: #1da1f2;
    border-bottom: none;
}

/*
 * links
 */
a:link, a:visited {
  color: white;
}

/*
 * nav menu
 */
.menu .menu-item:hover {
  a {
    color: white;
    text-decoration: underline;
    text-decoration-color: #1da1f2;
  }
}

/*
 * tag cloud
 */
.tag-cloud a:hover {
  color: cyan !important;
}

/*
 * post copyright
 */
.post-copyright {
  border-left: 3px solid #793c36;
  background-color: #182430;
}

/*
 * hexo-generator-search
 */
.search-popup {
  background: #1b3448
}

.search-popup .search-input-container input {
    color: white;
}

.search-popup .search-header {
  padding: 5px;
  height: 36px;
  background: #15202b;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.search-popup .popup-btn-close:hover .fa {
    color: #1da1f2;
}

/*
 * Reference Syntax
 */
blockquote {
  background: #253341;
  color: #dc7313;
  border-left: 4px solid #1e8866;
}

/*
 * inline code
 */
 code {
   color: #cb6c17;
   background: #464646;
 }

/*
 * edit source icon
 */
.posts-expand .post-title .post-edit-link {
    color: #253341;
}

.posts-expand .post-title .post-edit-link:hover {
    color: white;
}

/*
 * archive navigation
 */
.posts-collapse::before {
    background: grey;
}

.posts-collapse .post-title a, .posts-collapse .post-title span.exturl {
    color: white;
}


/*
 * when text is selected
 */
::selection {
  background: #1da1f2;
}

/*
 * for mobile navgation
 */
.site-nav {
  background: $body-background-color
}
